style.css
 images {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image:url(logo.png), url(malgudi-logo.jpg), url(motorola.jpg), url(samsung.jpg), url(book.jpg);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}